# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNE_CIRQUE_LEFT
	def_bool $(shields_list_contains,corne_cirque_left)

config SHIELD_CORNE_CIRQUE_RIGHT
	def_bool $(shields_list_contains,corne_cirque_right)
